<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

</head>
<body>
 <p>WELCOME !!!111</p>
    <br>
    <br>
    <button onclick=location.href="/greeting">Здарова</button>

    <br>
    <div>
            Список пользователей
        </div>
        {{#users}}
            <div>
            <b>{{name}}</b>
            <span>{{email}}</span>
            </div>
        {{/users}}
    <br>
    <div>
        <form method="post">
        <input type="text" name="name" placeholder="Введите значение">
        <input type="text" name="email" placeholder="Емэйл">
        <button type="submit">Добавить</button>
        </form>
     </div>
     <br>
     <br>
     <div>
     <form method="post" action="filter">
     <input type="text" name="filter" placeholder="Фильтр">
     <button type="submit">Отфильтровать</button>
     </form>
     </div>
    <button onclick=location.href="/messages">Сообщения</button>

</body>
</html>