<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <p>WELCOME !!!111</p>
    <button onclick=location.href="/greeting">Здарова</button>
    <button onclick=location.href="/add">Добавить</button>
    <button onclick=location.href="/all">Показать всех</button>
</head>
<body>

</body>
</html>